# Mac OS
.DS_Store

# Windows
thumbs.db

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage
.eslintcache

# Build
/build
/dist
/.opt-in
/*.provisionprofile

# don't store the assets downloaded with the `fetch` script
/static/assets/

# generated translation files
/translations
/locale

# Fastlane
**/fastlane/Matchfile
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
