/* Adapted from scratch-gui/src/playground/index.css */
html,
body,
.app {
    width: 100%;
    height: 100%;
    margin: 0;

    /* Setting min height/width makes the UI scroll below those sizes */
    min-width: 1024px;
    min-height: 640px; /* Min height to fit sprite/backdrop button */
}
