html, body {
    background-color: #855CD6;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 150%;
}

a:active, a:hover, a:link, a:visited {
    color: #855CD6;
}

.privacyBox {
    background-color: white;
    color: #575e75;
    margin: 3rem;
    padding: 2rem 3rem;
}
